@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Work Sans', 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1f331b;
  background-color: #dcead3;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #dcead3;
  background-image: url('https://raw.githubusercontent.com/msikma/pokesprite/master/misc/terrain/gen5-grass.png');
  background-size: 120px;
  background-repeat: repeat;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 32px;
}
